body {
  background-color: hsl(185, 75%, 39%);
  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
}

.bg-circle {
  position: absolute;
  z-index: -1;
}

.top-circle {
  left: -200px;
  top: -500px;
}

.bottom-circle {
  width: 778px;
  height: 378px;
  object-fit: none;
  object-position: 0 0;
  bottom: 0;
  right: 0;
}

.card-box-flex {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}

.card-bg-img {
  border-radius: 10px 10px 0 0;
}

.card-cover-img {
  border-radius: 50px;
  border: solid 5px #fff;
  margin-top: -60px;
}

.box-item-personal-info {
  background-color: #fff;
  border-bottom: solid 1.5px #ebebeb;
  margin: -55px auto 0;
  padding: 80px 0 20px;
  width: 350px;
  z-index: -1;
}

.name {
  color: hsl(229, 23%, 23%);
  font-weight: 700;
  margin-right: 5px;
}

.age {
  color: hsl(227, 10%, 46%);
  font-weight: 400;
}

.place {
  color: hsl(227, 10%, 46%);
  font-weight: 400;
}

.box-item-stats-flex {
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  display: flex;
  margin: 0 auto;
  padding: 20px 25px;
  width: 300px;
}

.stats-innerbox-item {
  line-height: 0.4;
  width: 33%;
}

.number {
  color: hsl(229, 23%, 23%);
}

.title {
  color: hsl(227, 10%, 46%);
  font-size: 12px;
  letter-spacing: 1px;
}

.footer {
  position: absolute;
  bottom: 50px;
  color: hsl(229, 23%, 23%);
  font-size: 12px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
}

.footer a {
  text-decoration: none;
  color: hsl(229, 23%, 23%);
  font-weight: 700;
}

.footer a:hover {
  color: #fff;
}

@media only screen and (max-width: 350px) {
  .top-circle {
    left: -700px;
    top: -600px;
  }
  .bottom-circle {
    width: 378px;
    height: 478px;
    object-fit: none;
    object-position: 0 0;
    bottom: 0;
    right: 0;
  }
}
